.container{
    height: 550px;
    width:820px;
    margin-top: 60px;
}
.row{
    height: 100%;
    width:100%;
    margin-left: 0;
    position: relative;
}
.list{
    display: flex;
    align-items: center;
    height: 35px;
    width:80%;
    font-size: 14px;
    padding-left:10px;
    box-shadow: 0 0 0 1px #eeeeee; 
    margin: 2px;
    cursor: pointer;
}
.add-list-item{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50%;
    overflow: hidden;
    right:35px;
    bottom: 35px;
    font-weight:bolder;
    width:2.5rem;
    height: 2.5rem;
}
.add-list-item button{
    font-size: 24px;
    width:3rem;
}
