<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="container w-50">
        <div class="row justify-content-center">
            <div class="input-group">
                <input
                 class="form-control col-4" 
                 placeholder="amount"
                 type="number"
                 ngModel
                 required
                 name="amount"
                 [(ngModel)]="amount"
                 >
                <input 
                class="form-control" 
                type="text"
                name="description"
                ngModel
                required
                placeholder="description"
                [(ngModel)]="description"
                >
                <input type="hidden" value="id">
            </div>
            <button [disabled]="!f.valid" class="btn btn-outline-secondary mt-2" type="submit">Done</button>
            <button (click)="closeEdit()" class="btn btn-outline-secondary mt-2" type="button">Cancel</button>
        </div>
    </div>
</form>