.row{
    justify-content: center;
    align-items: center;
}

.col{
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
    max-height: 50px;
}

.content{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px; 
}
.content-container {
    cursor: pointer;
    flex-direction: column;
    width:280px;
    justify-content: flex-start;
}

.badgets-container{
    display: flex;
    justify-content: space-between;
    width:620px
 
}

.col-3 div{
    font-weight: bold;
    text-align: center;
}
