.container{
    display: flex;
    width:450px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top:80px;
}

.icons-container{
    width:60px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 2px;
    justify-content: space-evenly; 
}
.edit-item{
    width:18px;
    height: 18px;
    background-position: center;
    background: url('../../icons/create.svg');
    cursor: pointer;
}
.delete-item{
    width:18px;
    height: 18px;
    background-position: center;
    background: url('../../icons/delete.svg');
    cursor: pointer;
}

.checked{
    text-decoration: line-through;
}
.clicked{
    animation: scale .3s alternate-reverse;
}

@keyframes scale {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(.95);

    }
}

.list-item{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 0 1px #eeeeee;
    cursor: pointer;
    margin:2px 0;
}