<div class="container">
    <div class="row">
        <h4>SIGN UP</h4>
    </div>
<form #f="ngForm">
        <div class="row">
            <input 
            placeholder="username"
            class="form-control col-11 h-25 mb-2" 
            id="username" 
            type="text"
            >
        </div>
        <div class="row">
            <input 
            placeholder="password"
            class="form-control col-11 h-25" 
            id="password" 
            type="password"
            >
        </div>
        <button class="btn btn-secondary">Sign Up</button>
        <span>Already signed-in<a href=""> login </a>now!</span>
    </form>
</div>   


