.notes-container{
    
}

.note{
    width:300px;
    margin:10px auto;
    position: relative;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,.2);
    border-radius: 2px;
    padding: 5px;
}
.note-title,.note-description{
    color:#7575cf;
    margin: 10px;
}

.close{
    color: black;
    border-radius: 15px;
    font-size: 16px;
    position: absolute;
    justify-content: center;
    align-items:center;
    display: flex;
    right:1px;
    top:1px;
    height: 16px;
    width: 16px;
    margin: 2px;
    
    cursor: pointer;
}
.close:hover{
    color: red;
    background-color: #d4d4d4;
}
