<form (ngSubmit)="onSubmit()" #fe  #f="ngForm">
    <label for="title">Title</label>
    <input 
    type="text" 
    name="title"
    ngModel
    required
    >
    <label for="description">Description</label>
    <textarea 
    type="text" 
    name="description" 
    rows="10"
    cols="60"
    [(ngModel)]="description"
    required
    ></textarea>
    <button [disabled]="!f.valid" class="submit-btn" type="submit">Confirm</button>
</form>
<div class="btn-container">
    <button class="btn" type="button" (click)="toggleForm()">Add Note</button>
</div>
